<?xml version="1.0"?>
<ruleset name="UOP Core">
  <description>WordPress standards with PSR-4 filenames.</description>
  <file>uop-core.php</file><file>src</file>
  <arg name="extensions" value="php"/>
  <rule ref="WordPress">
    <exclude name="WordPress.Files.FileName"/>
  </rule>
  <config name="minimum_supported_wp_version" value="6.9"/>
  <rule ref="WordPress.WP.I18n"><properties><property name="text_domain" type="array"><element value="uop-core"/></property></properties></rule>
</ruleset>
